# AWS Configuration
AWS_ACCESS_KEY_ID=tu_access_key_aqui
AWS_SECRET_ACCESS_KEY=tu_secret_key_aqui
AWS_REGION=us-east-1

# Bank Assistant Configuration
CRM_URL=http://localhost:8000/api
ENVIRONMENT=dev
